.login-form >*, .reg-form >*{
    display: flex;
    flex-direction: column;
}

.login-form, .reg-form{
    padding-top: 25px;
    .form{
        &-login{
            margin-bottom: 15px;
            &_title{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-reg{
            margin-bottom: 15px;
            &_title{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-password{
            margin-bottom: 15px;
        }
        &-email{
            margin-bottom: 15px;
        }
        &-submit{
            margin: 0 auto;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 600;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            margin-bottom: 15px;
        }
        &-change{
            color: -webkit-link;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.form-reg_input, .form-login_input{
    border: 1px solid #ccc;
    border-radius: 10px;
    background: transparent;
    // color: #ccc !important;
    padding: 5px 10px;
}
