.header_body{
    display: flex;
    background-color: #077b8a;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
}

.header-logo{
    font-size: 52px;
    font-weight: 400;
    color: rgb(41, 26, 4);
    cursor: pointer;
}

.header-auth img{
    max-width: 35px;
    margin-right: 7px;
}

.header-auth{
    display: flex;
    color: rgb(41, 26, 4);
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.authorise{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
    z-index: 1;
}

.authorise-body{
    position: relative;
    background-color: #fff;
    padding: 30px;
    visibility: visible;
    z-index: 15;    
    border-radius: 15px;
}
/* 
.authorise-krest span{
    width: 2px;
    height: 25px;
    background-color: #000;
    transform: rotate(45deg);
}

.authorise-krest::after{
    content: '';
    width: 2px;
    height: 25px;
    background-color: #000;
    transform: rotate(-45deg);
} */

.authorise-krest{
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.authorise-krest img{
    max-width: 25px;
}


.authorise-body form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-input{
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    margin-bottom: 15px;
}

.form-input input{
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 10px;
}

.authorise-button{
    font-size: 28px;
    line-height: 1;
    text-align: center;
    flex: 0 1 auto;
}

.authorise-text_want{
    position: absolute;
    bottom: 37px;
    color: #2d30e9;
    cursor: pointer;
}